<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo de Round Robin</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="contenedor">
        <header class="cabeceraPrincipal">
            <section class="utpl"><a href="https://www.utpl.edu.ec/"><img class="utpl" src="https://www.utpl.edu.ec/sites/default/files/Recurso%201%403x.png" alt="UTPL"></a></section>
            <nav class="menuPrincipal">
                <a href="{{url_for('index')}}">Inicio</a>
                <a href="https://en.wikipedia.org/wiki/Round-robin_scheduling">¿Qué es el algoritmo de Round Robin?</a>
            </nav>
        </header>
        <h1>Algoritmo de Round Robin</h1>
        <form action="{{url_for('hilo')}}"  method="post">
            <div class="grupoInput">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del proceso" required>
            </div>
            <div class="grupoInput">
                <label for="t_execute">Tiempo de ejecución</label>
                <input type="number" id="t_execute" name="t_execute" placeholder="Ingrese el tiempo de ejecución" required>
            </div>
            <div class="grupoInput">
                <label for="t_entrada">Tiempo de ingreso</label>
                <input type="number" id="t_entrada" name="t_entrada" placeholder="Ingrese el tiempo de entrada" required>
            </div>

            <div class="grupoInput">
                <label for="prioridad">Prioridad</label>
                <input type="number" id="prioridad" name="prioridad" placeholder="Ingrese la prioridad" required>
            </div>

            <div class="centrado">
                <button type="submit" class="button">Agregar Proceso</button>
                <a class="button" href="{{url_for('resetear')}}">Resetear</a>
            </div>
        </form>
        <table class="tabla">
        <tr>
            <td>Proceso</td>
            <td>Ráfaga CPU</td>
            <td>Prioridad</td>
            <td>Tiempo de Llegada</td>
        </tr>
        {% for i in list_procesos %}
            <tr>
                <td>{{ i['proceso'] }}</td>
                <td>{{ i['t_execute'] }}</td>
                <td>{{ i['prioridad'] }}</td>
                <td>{{ i['t_entrada'] }}</td>
            </tr>
        {% endfor %}
        </table>

        <form action="{{url_for('procesos')}}" method="post" class="quantum">
            <div class="centrado">
                <div class="grupoInput">
                    <label for="quantum">Tiempo de quantum</label>
                    <input type="number" id="quantum" name="quantum" placeholder="Ingrese el quantum" required>
                </div>
                <button type="submit" class="button">Ejecutar</button>
            </div>
        </form>

        <section class="resultado">
            {% if ejecutado %}
                <h2 class="titulo1">Proceso</h2>
                <p>El tiempo de espera fue de {{ t_espera }}</p>
                <p>El tiempo de espera medio fue de {{ t_espera  / c_procesos }}</p>
                <p>El tiempo de retorno fue de {{ t_retorno }}</p>
                <p>El tiempo de retorno medio fue de {{ t_retorno  / c_procesos }}</p>
            {% endif %}
        </section>
        <section class="resultado"  >
            <h2>Tabla de resultados</h2>
            <table class="tabla">
            <tr>
                <td>Proceso ID</td>
                <td>Tiempo de finalización</td>
                <td>Tiempo de espera</td>
                <td>Tiempo de retorno</td>
            </tr>
            {% for i in lpc %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.finalizacion }}</td>
                    <td>{{ i.espera }}</td>
                    <td>{{ i.retorno }}</td>
                </tr>
            {% endfor %}
            </table>
        </section>
        <section class="resultado">
            <h2>Orden de Proceso</h2>
            <div class="bloques">
                {% for i in sp %}
                    <div class="bloque" style="
                            width: 5rem;
                            height: 5rem;
                            font-size: 2rem;
                            border: 1px solid black;
                            display: flex;
                            background-color: {{ i['color'] }};">
                        {{ i['id'] }}
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</body>
</html>